<section class="home">
    <div class="join-us-box">
	    
	    <!-- Button trigger modal -->
	    <a href="" class="join-us-button" data-toggle="modal" data-target="#modal-sign">Join Us</a>

	    <!-- Modal -->
	    <div class="modal fade" id="modal-sign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	        <div class="modal-dialog" role="document">
	            <div class="modal-sign modal-content">
	                
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    	<span aria-hidden="true">&times;</span>
	                    </button>
	                    <img class="logo-modal" src="../assets/img/sense-logo-login.png" alt="" class="logo">
	                </div>
	                
	                <div class="modal-body">
	                	<div class="titles">
		                    <h4 class="modal-title">Cadastre-se já!</h4>
		                    <p class="modal-subtitle">E teste nossa versão demo</p>
	                	</div>

	                	<form action="" class="form-modal">
	                		<div class="form-group">
	                		    <input type="text" class="form-control" placeholder="Nome">
	                		    <input type="email" class="form-control" placeholder="Email">
	                		    <input type="password" class="form-control" placeholder="Senha">
	                		 </div>
	                	</form>

	                	<div class="actions">
	                    	<button type="button" class="btn btn-danger close-modal" ng-click="sendModal()" id="close-modal" ui-sref="login">Cadastrar</button>
	                    	
	                    	<p class="term"><a href="">Clique aqui</a> e conheça nossos termos de serviços</p>
	                	</div>
	                </div>
	            </div>
	        </div>
	    </div>
    	
    </div>
</section>

