<div ng-include="'includes/header-config.html'"></div>

<section class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="widget-card">
                <div class="widget-header">
                    <h2 class="title">Criando Usuário</h2>
                </div>
                <div class="widget-body">
                    
                    <div ng-include="'includes/form-user.html'"></div>

                </div>
            </div>
        </div>
    </div>
</section>
