<div ng-include="'includes/header-config.html'"></div>


<section class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
			<div class="widget-card">
			    <div class="widget-header">
			        <h2 class="title">Configurações de Usuários</h2>
			    </div>
			    <div class="widget-body">
			    	<div class="box-header">
				    	<div class="row">
				    		<div class="col-xs-4 col-sm-6 form-app">
				    			<div class="form-group">
				    				<div class="input-group-icon">
					    			    <span class="icon-left glyphicon glyphicon-search" aria-hidden="true"></span>
					    			    <input type="text" ng-model="searchUser" class="form-control icon-l" placeholder="Busque por usuários">
				    				</div>
				    			</div>
				    		</div>

				    		<div class="col-xs-4 col-sm-3">
				    			<div class="btn-box">
				    				<a href="" class="btn-links">
				    					<span class="icon-header glyphicon glyphicon-open" aria-hidden="true"></span>
				    					carregar csv
				    				</a>
				    			</div>
				    		</div>

				    		<div class="col-xs-4 col-sm-3">
				    			<div class="btn-box">
				    				<a href="" class="btn-links" ui-sref="new-user">
				    					<span class="icon-header glyphicon glyphicon-user" aria-hidden="true"></span>
				    					novo usuário
				    				</a>
				    			</div>
				    		</div>
				    	</div>
			    	</div>

			    	<div class="box-body">
			    	
			    		<table ng-show="users.length > 0" class="table table-user">
						    <thead>
						        <tr>
						            <th colspan="2">Usuários</th>
						            <th class="text-center">Tipo</th>
						            <th class="text-center">Ação</th>
						        </tr>
						    </thead>
						    <tbody>
						        <tr class="line-user" ng-class="{'selected bold': user.selected}" ng-repeat="user in users | filter:searchUser">
						            <td class="td icon-id">
						            	<input type="checkbox" ng-model="user.selected">
						            	<span class="icon-left glyphicon glyphicon-user" aria-hidden="true"></span>
						            </td>
						            <td class="td name-user">{{user.name}}</td>
						            <td class="td name-type" >{{user.type_permition}}</td>
						            <td class="td actions">
						            	<a href="/#!/users/edit-user/{{user.email}}" class="link-action">
						            		<span class="icon-left glyphicon glyphicon-pencil" aria-hidden="true"></span>
						            	</a>
						            	<a href="" class="link-action" ng-click="deleteUser(user.email)">
						            		<span class="icon-left glyphicon glyphicon-trash" aria-hidden="true"></span>
						            	</a>
						            </td>
						        </tr>
						    </tbody>
						</table>
			    	</div>
			    </div>
			</div>
        </div>
    </div>
</section>

<!-- 

<div class="container">
    valido : {{usersForm.$valid}}<br>
    invalido : {{usersForm.$invalid}}<br>
    
    <br>
    
    <div class="row">
      <div class="col-xs-6">
        <div ng-show="usersForm.name.$error.required && usersForm.name.$dirty" class="alert alert-danger">
            Preencha o campo nome
        </div>

        <div ng-show="usersForm.name.$error.minlength" class="alert alert-danger">
            O campo nome deve no minimo 5 caracteres
        </div>

        <div ng-show="usersForm.type.$invalid && usersForm.type.$dirty " class="alert alert-danger">
            deu erro no campo tipo
        </div>

        <form name="usersForm">
          <input type="text" name="name" class="form-control" ng-model="user.name" ng-minlength="4" ng-required="true" placeholder="nome">
          
          <br>
          
          <select class="form-control" name="type" ng-model="user.model" ng-required="true" ng-options=" model.name for model in models">
            <option value="">Selecione um tipo</option>
          </select>
        </form>

        <br>

        <div class="box-actions">
            <button class="btn btn-info" ng-click="addUser(user)" ng-disabled="usersForm.$invalid">Confirmar</button>
            <button class="btn btn-danger" ng-click="deleteUser(users)" ng-if="isUserSeleceted(users)">Deletar</button>
        </div>
      </div>
    </div>
</div> -->

