<div class="box-bandeja bandeja-{{situation_maxIndicator}} " ng-repeat="bandeja in bandejas">
    
    <div class="bandeja-header clearfix" data-toggle="collapse" data-target="#collapse-{{bandeja.id}}" ng-click="toggle = !toggle">
        <i class="icon-left material-icons">content_copy</i>
        <h4 class="title">{{bandeja.name}}</h4>
        <div class="icons-arrow">
            <i class="icon-down material-icons" ng-show='!toggle'>arrow_drop_down</i>
            <i class="icon-up material-icons" ng-show='toggle'>arrow_drop_up</i>
        </div>
    </div>
    <div class="bandeja-body">
        <div class="collapse" id="collapse-{{bandeja.id}}">
            <div class="box-indicadores clearfix">
                <div class="indicador-block" ng-repeat="indicador in bandeja.behaviors | filter: searchIndicador | orderBy:orderIndicatorbyAZ:orderIndicatorbyZA">

                    <div class="indicador-item indicador-{{ indicador.situation }}">
                        
                        <div class="box-name">
                            <p class="name">{{ indicador.indicator.name }}</p>
                        </div>

                       <!--  <div class="box-favorite" ng-click="favorite = !favorite">
                            <i class="material-icons" ng-show="!favorite">star_border</i>
                            <i class="material-icons favorite" ng-show="favorite">star</i>
                        </div> -->

                        <div class="box-favorite" ng-click="isFavorite(indicador.id)" ng-class="active">
                            <i class="material-icons" ng-show="{{ indicador.favorite }}">star_border</i>
                            <i class="material-icons favorite" ng-show="{{ !indicador.favorite }}">star</i>
                        </div>

                        <div class="box-value">
                            <h4 class="value"> {{ indicador.value | currency }} </h4>
                        </div>

                        <div class="box-state">
                            <i class="icon senseicon-{{ indicador.window | lowercase }}"></i>
                            <span class="type">{{ indicador.window }}</span>
                        </div>

                        <div class="box-tag"></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


